.bar {
	position: fixed;
	top: 0;
	width: 100%;
	height: 75px;
	z-index: 100;
	background-color: @blue;

	nav {
		margin: 20px 0;
	}

	a h1 {
		display: block;
		font-size: 1.0em;
		color: @white;
		float: left;
		margin-left: 10px;
		margin-top: 6px;
	}
}

.brand {
	float: left;
	height: 30px;
}

.social-links {
	
	ul {
		margin-left: 0;
		list-style: none;
		margin-top: 0;
	}

	li {
		float: left;
		margin-left: 10px;

		img {
			padding-top: 2px;
			padding-bottom: 2px;
			height: 26px;
		}
	}
}