// * ===============================================================
// * Variables
// * 
// * 1. colours
// * 2. shades
// * 3. uses
// *
// * ===============================================================

// * ===============================================================
// * 1. Colours
// * ===============================================================

@blue: #2ba2d9;
@darkBlue: #34464f;
@green: #1ec082;
@orange: #db941a;
@red: #F19AA1;

// * ===============================================================
// * 2. Shades
// * ===============================================================

@white: #ffffff;
@gray100: #f7f7f7;
@gray90: #e7e7e7;
@gray80: #c9c9c9;

// * ===============================================================
// * 3. Uses
// * ===============================================================

@background: @gray100;
@text: @darkBlue;