.well {
	margin-top: 40px;
	background-color: @white;
	border-bottom: 2px solid @gray80;

	@media only screen and (max-width: 767px) {
		margin-top: 15px;
	}
}

.inner-well {
	padding: 20px 40px;
	min-height: 30px;

	@media only screen and (max-width: 767px) {
		padding: 15px;
	}
}

.well .show-on-hover {
	opacity: 0;
	.transition(~"opacity .75s ease-in-out");
}

.well:hover .show-on-hover {
	opacity: 1;
}

.actions {

	margin-left: 0;
	list-style: none;
	margin-top: 0;
	
	li {
		float: left;
		margin-left: 10px;

		a {
			color: @gray80;
			.transition(~"all .3s ease-in-out");

			&.permalink:hover {
				color: @blue;
			}

			&.heart:hover {
				color: @red;
			}

			&.share:hover {
				color: @green;
			}
		}
	}	
}

.image {
	margin-top: 40px;
	width: 100%;
	height: auto;
	background-color: @white;

	@media only screen and (max-width: 767px) {
		margin-top: 15px;
	}

	img {
		width: 100%;
		height: auto;
	}

	.inner-well {
		border-bottom: 2px solid @gray80;
	}
}

.snowflake-container {
	width: 200px;

	@media only screen and (max-width: 767px) {
	width: 50px;
	}
}