
/* Global CSS Reset
-------------------------------------------------------------- */
* {
	margin: 0;
	padding: 0;
	border: 0;
	background-repeat: no-repeat;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* HTML5 Hack for Oldtimers */
article, aside, details, figcaption, figure,
footer, header, hgroup, nav, section, summary {
	display: block;
}
ol, ul {
	list-style: none;
}

/* General
-------------------------------------------------------------- */

html {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	height: 100%;
}
body {
	color: #3c3b44;
	font-family: 'proxima-nova', sans-serif;
	font-weight: 600;
	padding: 0 0 50px 0;
}

#bg {
	z-index: -500;
	position:fixed; 
	top:0; 
	left:0; 
	max-height:100%;
}

/* Links
-------------------------------------------------------------- */

a:link,
a:visited {
	color: #ff584f;
	text-decoration: none;
}
a:hover,
a:active {
	text-decoration: underline;
}
a:focus {
	background: #ddd;
}


/* External Links
-------------------------------------------------------------- */

#links {
	float: right;
	margin: 1em;
	font-weight: 800;
}

#links #location {
	font-size: 1.3em;
}

#links #location span {
	color: #ff584f;
	
}

#links #social {
	
}

#links #social ul {
	
}
#links #social li a {
	float: right;
	font-size: 2.5em;
	margin-left: .2em;
	color: #3c3b44;
}

#links #social li a:hover {
	text-decoration: none;
	color: #ff584f;
}

/* Content
-------------------------------------------------------------- */

#content {
	position: relative;
	width: 35%;
	left: 45%;
	padding-top: 18%; /* come back to this */
}

#content h1 {
	display: inline;
	font-size: 3.5em;
	background-color: #FFFECA;
	padding: 0 0.1em;
}

#content h2 {
	font-size: 1.2em;
	margin-top: .4em;
}

#content h2 span {
	color: #ff584f;
}

#content p {
	font-size: 1.0em;
	font-weight: 600;
	margin-top: 1.0em;
	margin-bottom: .5em;
}

#content ul {
	list-style: disc;
}

#content ul li {
	margin-top: .2em;
	margin-left: 3.0em;
}

/* for iPhones and the like */

@media screen and (max-width: 480px) {

}

/* for iPads and the like */

@media only screen and (min-width: 480px) and (max-width: 1024px) {

}

 








