
/* Global CSS Reset
-------------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    border: 0;
    background-repeat: no-repeat;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* HTML5 Hack for Oldtimers */
article, aside, details, figcaption, figure,
footer, header, hgroup, nav, section, summary {
    display: block;
}
ol, ul {
    list-style: none;
}

/* Structure
-------------------------------------------------------------- */

html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    height: 101%;
}
body {
    color: #3c3b44;
    font-family: 'ff-tisa-web-pro', serif;
    font-weight: 400;
    padding: 0 0 50px 0;
}
div#site {
    margin: 0 auto;
    /* padding: 0 15px;
    max-width: 800px; */
}

footer#colophon {
	margin: auto;
	max-width: 700px;
	opacity: .7;
    padding: 0px 30px;
    font-size: 90%;
    text-align: center;
    font-weight: 500;
}

footer#colophon a {
	color: #3c3b44;;
}

::-moz-selection {
    background: #ff584f;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #ff584f;
    color: #fff;
    text-shadow: none;
}

/* Links
-------------------------------------------------------------- */

a:link,
a:visited {
    color: #ff584f;
    text-decoration: none;
}
a:hover,
a:active {
    text-decoration: underline;
}
a:focus {
    background: #ddd;
}

/* Header
-------------------------------------------------------------- */

header#branding h1 a {
	text-decoration: none;
}

header#branding h1 a svg {
	fill: #3c3b44;
	width: 100px;
	height: 100px;
}

header#branding h1 {
	text-align: center;
}

header#branding {
	margin: 40px auto 20px auto;
}

/* Articles
-------------------------------------------------------------- */

article p {
	font-size: 1.4em;
    line-height: 1.6em;
    margin: 10px 0;
}

article ol,
article ul {
    list-style-type: disc;
    margin: 0px 0 20px 20px;
    line-height: 25px;
}
section.blog article {
    margin-bottom: 70px;
}
section.blog article header.post-meta {
    color: #bbb;
    font-size: 85%;
    margin: 0 auto 10px auto;
    padding: 0 0 5px 0;
    border-bottom: 1px solid #ddd;
}

section.blog article footer.post-sub {
    margin: 60px 0 20px 0;
}
section.blog article footer.post-sub a {
	font-size: 1.5em;
    padding: 5px 10px;
    margin: 0 10px 0 0;
}
article h1 {
    font-size: 3.5em;
    font-weight: 800;
    font-family: 'proxima-nova', sans-serif;
    line-height: 1.3em;
    color: #3c3b44;
}
article h2 {
    font-size: 1.7em;
    line-height: 1.6em;
    margin: .9em 0 0 0;
}
article h3 {
    font-size: 1.3em;
    line-height: 1.9px;
    margin: 1.7em 0 1.1em 0;
}
article blockquote {
    margin: 20px;
    padding: 0 20px;
    float: left;
    font-style: italic;
    border-left: 5px solid #bbb;
}
section.page h1 {
    border-bottom: 1px solid #999;
}
section.page {
    padding: 0 0 30px 0;
}
.read_more {
    float: right;
    font-size: 85%;
}
h1.category_overview {
    float: left;
    width: 100%;
    color: #555;
    font-size: 25px;
    padding: 5px;
    background: #eee;
    margin: 0 0 50px 0;
}

section.blog article header.noBorder {
	border: none;
}

/* Footer
-------------------------------------------------------------- */

#colophon ul {
	list-style: none;
	margin: auto;
	max-width: 425px;
}

#colophon ul li {
	float: left;
	margin: auto 10px auto 10px;
	
}

/* Postformats
-------------------------------------------------------------- */

header.format_link h1 a:after {
    content: " →";
}

article a.excerpt {
	color: #3c3b44;
	text-decoration: none;
}

/* Text
-------------------------------------------------------------- */

strong {
	font-style: none;
	background-color: #FFFECA;
	padding: 0 0.1em;
	font-weight: 400;
}

em {
    font-style: italic;
}

/* Media
-------------------------------------------------------------- */

img {
    max-width: 100%;
    height: auto;
    width: 100%;
    margin: 20px 0 20px 0;
}
iframe {
    max-width: 770px;
}

.pagination {
margin: 10px 0 50px 0;
height: 1.0em;
}

.button {
	font-family: 'proxima-nova', sans-serif;
	font-weight: 800;
  	font-size: 1.1em;
  	padding: 5px 0px 5px 0px;
}

.left {
float: left;
}

.right {
float: right;
}

/* Error Page
-------------------------------------------------------------- */

article.error h1 {
text-align: center;
border: none;
}

article.error p {
text-align: center;
}

article.error a {
border: none;
}

/* Responsive
-------------------------------------------------------------- */

section.blog article {
	max-width: 770px;
	margin-left: auto !important;
	margin-right: auto !important;
	float: none;
}

/* for iPhones and the like */

@media screen and (max-width: 480px) {
  
  section.blog article {
  	padding-left: 1.5em;
  	padding-right: 1.5em;
  	margin-bottom: 3.2em;
  }
  
  article p {
	font-size: 1.05em;
    line-height: 1.5em;
    margin: 1.3em 0;
}
	
	article h1 {
		font-size: 2.0em;
		line-height: 1.1em;
	}
	
	article h2 {
		font-size: 1.2em;
	}
	
	article h3 {
		font-size: 1.1em;
	}
	
	section.blog article footer.post-sub a {
		font-size: 1.2em;
	}
	
	article blockquote {
		margin: 1.0em 0 1.0em 0;
	}
	
  	header#branding h1 a svg {
	  	width: 50px;
	  	height: 50px;
  	}
  	#colophon ul li {
  		float: none;
  		margin: 5px auto 5px auto;
  	}
  	body {
		padding-bottom: 20px;
  	}
  	
}

/* for iPads and the like */

@media only screen and (min-width: 480px) and (max-width: 1024px) {
	section.blog article {
  	padding-left: 3.0em;
  	padding-right: 3.0em;
  	margin-bottom: 3.5em;
  }
  article p {
	font-size: 1.3em;
    line-height: 1.5em;
    margin: 1.5em 0;
	}
	
	article h1 {
		font-size: 2.8em;
		line-height: 1.1em;
	}
	
	article h2 {
		font-size: 1.6em;
	}
	
	article h3 {
		font-size: 1.4em;
	}
	
	section.blog article footer.post-sub a {
		font-size: 1.4em;
	}
	
	article blockquote {
		margin: 1.0em 0 2.0em 0;
	}
	
	header#branding h1 a svg {
		height: 60px;
		width: 60px;
	}
	body {
		padding-bottom: 30px;
	}
}